:root{
    --border: #b1b1b1;
}
/* ABOUT  */
.about {
    padding: 4rem 0;
    background: linear-gradient(40deg, #bacceb, #588ec0) ;
}
.about_inner h2{
    color: #fff;
}
.about_inner p{
    text-align: center;
    color: #fff;
}

.section_inner {
    align-items: center;
    /* padding: 0 6rem; */
}

.section h2 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 1rem;
}
/* WHY CHOOSE US */
.choose {
margin: 2rem 4rem;
}
.choose h3{
    margin: 3rem 0;
    text-align: center;
    font-size: 2rem;
}
.choose_container{
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 2rem;
}
.choose_box{
    flex-direction: column;
    border: 1px solid #e0e5e5;
    padding: 1rem;
    text-align: center;
    border: none;
}
.choose_box img{
    width: 12rem;
}
.choose_box p{
    font-size: .9rem;
}
.choose_box h4{
    margin-bottom: 1.5rem;
}
/* Portfolio cart */
.porfolio_container{
    justify-content: center;
    margin:  5rem 0;
}
.portfolio_box{
    width:80%;
    position: relative;
}
.port_heading{
    flex-direction: row;
    
}
.port_heading :hover{
    cursor: pointer;
    
    }
.first{
  border-right: 1px solid #c5c5c5;
 }
 .border{
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    transform: translatey(1px);
    transition: all 0.4s ease;
}
.port_head{
margin-top: -47px;
 height: 3rem;
 padding: 1rem;
 background: white;
 
}
.portf_imgs {
    border: 1px solid var(--border);
justify-content: center;
position: relative;
z-index: -1;
min-height: 30rem;

}
.port_box_img{ 
        opacity: 0;
        visibility: hidden;
        transform: translatey(-5px);
        align-items: center;
         padding: 1rem;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
    }
.portfolio_box img{
    width: 12rem;
}

    /* JS */
.insert{
    opacity: 1;
    visibility: visible;
    transform: translatey(0);
    transition: all .5s ease-in; 

display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 1rem;
}
.remove{
    border: none !important;
    
}

/* MEDIA QUERY */
@media(max-width: 600px){
    .about_inner {
        align-items: center;
        padding: 0 1rem;
    }

    .services,
    .about h2 {
        font-size: 1.2rem;
    }
    .choose_box img{
        width: 10rem;
    }
    .choose_box{
        padding: 0rem;
    }
    .choose h3{
        margin: 2rem 0;
        font-size: 1.2rem;
    }
}
@media(max-width: 810px){
  
    .portf_imgs {
    min-height: 55rem;
    
    }
}
@media(max-width: 695px){
  
.portf_imgs {
min-height: 70rem;
}
}
    @media(max-width: 490px){
  
        .portf_imgs {
        min-height: 70rem;
        
        }
        }